
@{
    ViewBag.Title = "About";
}

<div class="courses-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="single-cards-item">
                    <div class="single-product-image">
                        <a href="#"><img src="~/hrms_master/img/product/du_bg.png" alt=""></a>
                    </div>
                    <div class="single-product-text">
                        <img src="~/hrms_master/img/product/mimma.jpg" alt="">
                        <h4><a class="cards-hd-dn" href="#">Mimma Akter</a></h4>
                        <h5>Web Designer & Developer</h5>
                        <p class="ctn-cards">PGDIT 20, University of Dhaka</p>
                        <a class="follow-cards" href="https://github.com/MimmaAkter">Follow</a>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="login-social-inner">
                                    <a href="https://www.facebook.com/IITatDU" class="button btn-social basic-ele-mg-b-10 facebook span-left"> <span><i class="fa fa-facebook"></i></span> Facebook </a>
                                    <a href="https://twitter.com/iit_du" class="button btn-social basic-ele-mg-b-10 twitter span-left"> <span><i class="fa fa-twitter"></i></span> Twitter </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="single-cards-item">
                    <div class="single-product-image">
                        <a href="#"><img src="~/hrms_master/img/product/uic.png" alt=""></a>
                    </div>
                    <div class="single-product-text">
                        <img src="~/hrms_master/img/product/supervisor_mainulHossain.jpeg" alt="">
                        <h4><a class="cards-hd-dn" href="#">Dr. B M Mainul Hossain</a></h4>
                        <h5>Associate Professor & Supervisor</h5>
                        <p class="ctn-cards">PhD, University of Illinois at Chicago, USA</p>
                        <a class="follow-cards" href="http://www.iit.du.ac.bd/about_iit/individual_teacher/66">Follow</a>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cards-dtn">
                                    <h3><span class="counter">10</span></h3>
                                    <p>Research</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cards-dtn">
                                    <h3><span class="counter">25</span></h3>
                                    <p>Publications</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <div class="cards-dtn">
                                    <h3><span class="counter">9</span></h3>
                                    <p>Teachings</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="single-cards-item">
                    <div class="single-product-image">
                        <a href="#"><img src="~/hrms_master/img/product/iit_bg.png" alt=""></a>
                    </div>
                    <div class="single-product-text">
                        <img src="~/hrms_master/img/product/iitlogo-blue.png" alt="">
                        <h4><a class="cards-hd-dn" href="#">IIT,University of Dhaka</a></h4>
                        <h5>Dhaka, Bangladesh</h5>
                        <p class="ctn-cards">Phone: 8801779482994, Email: iit@du.ac.bd</p>
                        <a class="follow-cards" href="http://www.iit.du.ac.bd">Follow</a>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="login-social-inner">
                                    <a href="https://www.facebook.com/IITatDU" class="button btn-social basic-ele-mg-b-10 facebook span-left"> <span><i class="fa fa-facebook"></i></span> Facebook </a>
                                    <a href="https://twitter.com/iit_du" class="button btn-social basic-ele-mg-b-10 twitter span-left"> <span><i class="fa fa-twitter"></i></span> Twitter </a>                                   
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
