
@{
    ViewBag.Title = "Contact";
}


<div class="courses-area mg-b-15">
    <div class="container-fluid">
        <div class="row">           
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="sparkline10-list mg-tb-30">
                    <div class="sparkline10-hd">
                        <div class="main-sparkline10-hd">
                            <h1>Google Map <span class="table-project-n"></span></h1>
                        </div>
                    </div>
                    <div class="sparkline10-graph">
                        <div class="google-map-single">
                            <div id="googleMap"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="courses-inner res-mg-t-30 table-mg-t-pro-n tb-sm-res-d-n dk-res-t-d-n">
                    <div class="courses-title">
                        <a href="#"><img src="/hrms_master/img/courses/1.jpeg" alt="" /></a>
                        <h2>Unique Intro</h2>
                    </div>
                    <div class="courses-alaltic">
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>
                    </div>
                    <div class="course-des">
                        <p><span><i class="fa fa-clock"></i></span> <b>Open:</b> Everyday 9am to 9pm</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>Category:</b> Stationery</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>Store:</b> 01</p>
                    </div>
                    <div class="product-buttons">
                        <button type="button" class="button-default cart-btn">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>