
@{
    ViewBag.Title = "AllEmployees";
}

@foreach (System.Data.DataRow dr in ViewBag.data.Rows)
{
  <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-mg-b-30">
                        <div class="student-img">
                            <img src="img/student/1.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-mg-b-30">
                        <div class="student-img">
                            <img src="img/student/2.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-mg-b-30 res-tablet-mg-t-30 dk-res-t-pro-30">
                        <div class="student-img">
                            <img src="img/student/3.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std res-tablet-mg-t-30 dk-res-t-pro-30">
                        <div class="student-img">
                            <img src="img/student/4.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std mg-t-30">
                        <div class="student-img">
                            <img src="img/student/1.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std mg-t-30">
                        <div class="student-img">
                            <img src="img/student/2.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std mg-t-30">
                        <div class="student-img">
                            <img src="img/student/3.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="student-inner-std mg-t-30">
                        <div class="student-img">
                            <img src="img/student/4.jpg" alt="" />
                        </div>
                        <div class="student-dtl">
                            <h2>Alexam Angles</h2>
                            <p class="dp">Computer Science</p>
                            <p class="dp-ag"><b>Age:</b> 20 Years</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
